In [1]:
# import dependencies

import pandas as pd

In [2]:
# Assign CSV file path to a variable 

students_data_path = "Desktop/UCFLM201907DATA2/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"
schools_data_path = "Desktop/UCFLM201907DATA2/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"

In [3]:
# Create dataframe from csv files

students_df = pd.read_csv(students_data_path, encoding = "utf-8")
schools_df = pd.read_csv(schools_data_path, encoding = "utf-8")

In [4]:
# Total Schools
school_count = len(schools_df["school_name"])

# Total Students

student_count = len(students_df["student_name"])

# Total Budget

total_budget = schools_df["budget"].sum()

# Average Math Score

avg_math_score = students_df["math_score"].mean()

# Average Reading Score

avg_reading_score = students_df["reading_score"].mean()

# % Passing Math

passing_math = students_df.loc[(students_df["math_score"] >= 70)]
total_passing_math = len(passing_math)
percent_passing_math = (total_passing_math / student_count) * (100)

# % Passing Reading

passing_reading = students_df.loc[(students_df["reading_score"] >= 70)]
total_passing_reading = len(passing_reading)
percent_passing_reading = (total_passing_reading / student_count) * (100)

# Overall Passing Rate (Average of the two above)

overall_passing_rate = (percent_passing_math + percent_passing_reading)/2

In [5]:
# Placing all of the data found into a summary dataframe
summary_table = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], "Total Budget": [total_budget],"Average Math Score":[avg_math_score],"Average Reading Score":[avg_reading_score],"% Passing Math": [percent_passing_math],"% Passing Reading":[percent_passing_reading],"Overall Passing Rate":[overall_passing_rate]})
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [6]:
# Merge the csv data

students_schools_df = pd.merge(schools_df,students_df,how="right")
students_schools_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [7]:
#School name

school_name = schools_df["school_name"]

#school Type 

school_type = schools_df["type"]

#Total Students

total_students = schools_df["size"]

#total school budget

total_budget = schools_df["budget"]


#Per student Budget

per_student_budget = schools_df["budget"] / schools_df["size"]

#Average Math Score (per school)

avg_pyschool_data = students_schools_df.groupby(["school_name"]).mean() 
avg_math_score_per_school = avg_pyschool_data["math_score"]


#Average Reading score (per school)

avg_reading_score_per_school = avg_pyschool_data["reading_score"]

In [8]:
# Percentage passer rate - Math

#Huang High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
huang = students_df.loc[students_df["school_name"] == "Huang High School"]                     
math_and_huang = pd.merge(passing_math,huang)
huang_passing_math = len(math_and_huang)
percent_passing_huang = (huang_passing_math/2917) * 100


# Figueroa High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
Figueroa = students_df.loc[students_df["school_name"] == "Figueroa High School"]
math_and_Figueroa = pd.merge(passing_math,Figueroa)
figueroa_passing_math = len(math_and_Figueroa)
percent_passing_figueroa = (figueroa_passing_math/2949) * 100

# Shelton High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
shelton = students_df.loc[students_df["school_name"] == "Shelton High School"]
math_and_shelton = pd.merge(passing_math,shelton)
shelton_passing_math = len(math_and_shelton)
percent_passing_shelton = (shelton_passing_math/1761) * 100

# Hernandez High School	

passing_math = students_df.loc[students_df["math_score"] >= 70]
hernandez = students_df.loc[students_df["school_name"] == "Hernandez High School"]
math_and_hernandez = pd.merge(passing_math, hernandez)
hernandez_passing_math = len(math_and_hernandez)
percent_passing_hernandez = (hernandez_passing_math/4635) * 100

# Griffin High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
griffin = students_df.loc[students_df["school_name"] == "Griffin High School"]
math_and_griffin = pd.merge(passing_math,griffin)
griffin_passing_math = len(math_and_griffin)
percent_passing_griffin = (griffin_passing_math/1468) * 100

# Wilson High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
wilson = students_df.loc[students_df["school_name"] == "Wilson High School"]
math_and_wilson = pd.merge(passing_math, wilson)
wilson_passing_math = len(math_and_wilson)
percent_passing_wilson = (wilson_passing_math/2283) * 100

# Cabrera High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
cabrera = students_df.loc[students_df["school_name"] == "Cabrera High School"]
math_and_cabrera = pd.merge(passing_math, cabrera)
cabrera_passing_math = len(math_and_cabrera)
percent_passing_cabrera = (cabrera_passing_math/1858) * 100

# Bailey High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
bailey = students_df.loc[students_df["school_name"] == "Bailey High School"]
math_and_bailey = pd.merge(passing_math, bailey)
bailey_passing_math = len(math_and_bailey)
percent_passing_bailey = (bailey_passing_math/4976) * 100

# Holden High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
holden = students_df.loc[students_df["school_name"] == "Holden High School"]
math_and_holden = pd.merge(passing_math, holden)
holden_passing_math = len(math_and_holden)
percent_passing_holden = (holden_passing_math/427) * 100

# Pena High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
pena = students_df.loc[students_df["school_name"] == "Pena High School"]
math_and_pena = pd.merge(passing_math, pena)
pena_passing_math = len(math_and_pena)
percent_passing_pena = (pena_passing_math/962) * 100

# Wright High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
wright = students_df.loc[students_df["school_name"] == "Wright High School"]
math_and_wright = pd.merge(passing_math, wright)
wright_passing_math = len(math_and_wright)
percent_passing_wright = (wright_passing_math/1800) * 100

# Rodriguez High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
rod = students_df.loc[students_df["school_name"] == "Rodriguez High School"]
math_and_rod = pd.merge(passing_math, rod)
rod_passing_math = len(math_and_rod)
percent_passing_rod = (rod_passing_math/3999) * 100

# Johnson High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
john = students_df.loc[students_df["school_name"] == "Johnson High School"]
math_and_john = pd.merge(passing_math, john)
john_passing_math = len(math_and_john)
percent_passing_john = (john_passing_math/4761) * 100

# Ford High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
ford = students_df.loc[students_df["school_name"] == "Ford High School"]
math_and_ford = pd.merge(passing_math, ford)
ford_passing_math = len(math_and_ford)
percent_passing_ford = (ford_passing_math/2739) * 100

# Thomas High School

passing_math = students_df.loc[students_df["math_score"] >= 70]
thomas = students_df.loc[students_df["school_name"] == "Thomas High School"]
math_and_thomas = pd.merge(passing_math, thomas)
thomas_passing_math = len(math_and_thomas)
percent_passing_thomas = (thomas_passing_math/1635) * 100

In [9]:
# Percentage passer rate - Reading


#Huang High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
huang_reading = students_df.loc[students_df["school_name"] == "Huang High School"]                     
reading_and_huang = pd.merge(passing_reading,huang_reading)
huang_passing_reading = len(reading_and_huang)
percent_passing_huang_r = (huang_passing_reading/2917) * 100


# Figueroa High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
Figueroa_reading = students_df.loc[students_df["school_name"] == "Figueroa High School"]
reading_and_Figueroa = pd.merge(passing_reading,Figueroa_reading)
figueroa_passing_reading = len(reading_and_Figueroa)
percent_passing_figueroa_r = (figueroa_passing_reading/2949) * 100

# Shelton High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
shelton_reading = students_df.loc[students_df["school_name"] == "Shelton High School"]
reading_and_shelton = pd.merge(passing_reading,shelton_reading)
shelton_passing_reading = len(reading_and_shelton)
percent_passing_shelton_r = (shelton_passing_reading/1761) * 100

# Hernandez High School	

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
hernandez_reading = students_df.loc[students_df["school_name"] == "Hernandez High School"]
reading_and_hernandez = pd.merge(passing_reading, hernandez_reading)
hernandez_passing_reading = len(reading_and_hernandez)
percent_passing_hernandez_r = (hernandez_passing_reading/4635) * 100

# Griffin High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
griffin_reading = students_df.loc[students_df["school_name"] == "Griffin High School"]
reading_and_griffin = pd.merge(passing_reading,griffin_reading)
griffin_passing_reading = len(reading_and_griffin)
percent_passing_griffin_r = (griffin_passing_reading/1468) * 100

# Wilson High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
wilson_reading = students_df.loc[students_df["school_name"] == "Wilson High School"]
reading_and_wilson = pd.merge(passing_reading, wilson_reading)
wilson_passing_reading = len(reading_and_wilson)
percent_passing_wilson_r = (wilson_passing_reading/2283) * 100

# Cabrera High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
cabrera_reading = students_df.loc[students_df["school_name"] == "Cabrera High School"]
reading_and_cabrera = pd.merge(passing_reading, cabrera_reading)
cabrera_passing_reading = len(reading_and_cabrera)
percent_passing_cabrera_r = (cabrera_passing_reading/1858) * 100

# Bailey High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
bailey_reading = students_df.loc[students_df["school_name"] == "Bailey High School"]
reading_and_bailey = pd.merge(passing_reading, bailey_reading)
bailey_passing_reading = len(reading_and_bailey)
percent_passing_bailey_r = (bailey_passing_reading/4976) * 100

# Holden High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
holden_reading = students_df.loc[students_df["school_name"] == "Holden High School"]
reading_and_holden = pd.merge(passing_reading, holden_reading)
holden_passing_reading = len(reading_and_holden)
percent_passing_holden_r = (holden_passing_reading/427) * 100

# Pena High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
pena_reading = students_df.loc[students_df["school_name"] == "Pena High School"]
reading_and_pena = pd.merge(passing_reading, pena_reading)
pena_passing_reading = len(reading_and_pena)
percent_passing_pena_r = (pena_passing_reading/962) * 100

# Wright High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
wright_reading = students_df.loc[students_df["school_name"] == "Wright High School"]
reading_and_wright = pd.merge(passing_reading, wright_reading)
wright_passing_reading = len(reading_and_wright)
percent_passing_wright_r = (wright_passing_reading/1800) * 100

# Rodriguez High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
rod_reading = students_df.loc[students_df["school_name"] == "Rodriguez High School"]
reading_and_rod = pd.merge(passing_reading, rod_reading)
rod_passing_reading = len(reading_and_rod)
percent_passing_rod_r = (rod_passing_reading/3999) * 100

# Johnson High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
john_reading = students_df.loc[students_df["school_name"] == "Johnson High School"]
reading_and_john = pd.merge(passing_reading, john_reading)
john_passing_reading = len(reading_and_john)
percent_passing_john_r = (john_passing_reading/4761) * 100

# Ford High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
ford_reading = students_df.loc[students_df["school_name"] == "Ford High School"]
reading_and_ford = pd.merge(passing_reading, ford_reading)
ford_passing_reading = len(reading_and_ford)
percent_passing_ford_r = (ford_passing_reading/2739) * 100

# Thomas High School

passing_reading = students_df.loc[students_df["reading_score"] >= 70]
thomas_reading = students_df.loc[students_df["school_name"] == "Thomas High School"]
reading_and_thomas = pd.merge(passing_reading, thomas_reading)
thomas_passing_reading = len(reading_and_thomas)
percent_passing_thomas_r = (thomas_passing_reading/1635) * 100

In [10]:
# Overall Passer rate for all 15 schools

overall_passer_rate_huang = (percent_passing_huang + percent_passing_huang_r)/2

overall_passer_rate_figueroa = (percent_passing_figueroa + percent_passing_figueroa_r)/2

overall_passer_rate_shelton = (percent_passing_shelton + percent_passing_shelton_r)/2

overall_passer_rate_hernandez = (percent_passing_hernandez + percent_passing_hernandez_r)/2

overall_passer_rate_griffin = (percent_passing_griffin + percent_passing_griffin_r)/2

overall_passer_rate_wilson = (percent_passing_wilson + percent_passing_wilson_r)/2

overall_passer_rate_cabrera = (percent_passing_cabrera + percent_passing_cabrera_r)/2

overall_passer_rate_bailey = (percent_passing_bailey + percent_passing_bailey_r)/2

overall_passer_rate_holden = (percent_passing_holden + percent_passing_holden_r)/2

overall_passer_rate_pena = (percent_passing_pena + percent_passing_pena_r)/2

overall_passer_rate_wright = (percent_passing_wright + percent_passing_wright_r)/2

overall_passer_rate_rod = (percent_passing_rod + percent_passing_rod_r)/2

overall_passer_rate_john = (percent_passing_john + percent_passing_john_r)/2

overall_passer_rate_ford = (percent_passing_ford + percent_passing_ford_r)/2

overall_passer_rate_thomas = (percent_passing_thomas + percent_passing_thomas_r)/2

In [11]:
# Math passer rate per school - creating dataframe

summary_table_Passing_math = pd.DataFrame({"% Passing Math":[percent_passing_huang,percent_passing_figueroa,percent_passing_shelton,percent_passing_hernandez,percent_passing_griffin,percent_passing_wilson,percent_passing_cabrera,percent_passing_bailey,percent_passing_holden,percent_passing_pena,percent_passing_wright,percent_passing_rod,percent_passing_john,percent_passing_ford,percent_passing_thomas]})

In [12]:
# Reading passer rate per school - creating dataframe

summary_table_Passing_reading = pd.DataFrame({"% Passing Reading":[percent_passing_huang_r,percent_passing_figueroa_r,percent_passing_shelton_r,percent_passing_hernandez_r,percent_passing_griffin_r,percent_passing_wilson_r,percent_passing_cabrera_r,percent_passing_bailey_r,percent_passing_holden_r,percent_passing_pena_r,percent_passing_wright_r,percent_passing_rod_r,percent_passing_john_r,percent_passing_ford_r,percent_passing_thomas_r]})

In [13]:
# Overall passer rate - creating dataframe

summary_table_Passing_overall = pd.DataFrame({"% Overall Passing Rate":[overall_passer_rate_huang,overall_passer_rate_figueroa,overall_passer_rate_shelton,overall_passer_rate_hernandez,overall_passer_rate_griffin,overall_passer_rate_wilson,overall_passer_rate_cabrera,overall_passer_rate_bailey,overall_passer_rate_holden,overall_passer_rate_pena,overall_passer_rate_wright,overall_passer_rate_rod,overall_passer_rate_john,overall_passer_rate_ford,overall_passer_rate_thomas]})

In [14]:
# Merge dataframes for average math and reading scores

averages_read_math = pd.merge(avg_math_score_per_school,avg_reading_score_per_school, on="school_name")

In [15]:
# Merge average list with schools csv dataframe

results = pd.merge(schools_df,averages_read_math,on="school_name")

In [16]:
# Merge passing math summary table

summary_table_1 = results.join(summary_table_Passing_math, how='outer')

In [17]:
# Merging passing reading summary table 

summary_table_2 = summary_table_1.join(summary_table_Passing_reading,how='outer')

In [18]:
# Merging overall passer rate summary table

summary_table_3 = summary_table_2.join(summary_table_Passing_overall,how='outer')

In [19]:
# Merging the per student budget series to create first draft of school summary table

school_summary_table = summary_table_3.merge(per_student_budget.rename('Per Student Budget'),left_index=True,right_index=True)

In [20]:
# Reorganizing the columns

school_as_index = school_summary_table.set_index(['school_name'])

In [21]:
# Dropping the 'school_ID' column

dropped_df = school_as_index.drop(columns=['School ID'])

In [22]:
# Organize the dataframe headers

organized_df = dropped_df[["type","size","budget","Per Student Budget","math_score","reading_score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]

In [23]:
# Rename the column headers

renamed_df = organized_df.rename(columns={"type":"School Type", "size":"Total Students","budget":"Total School Budget","math_score":"Average Math Score","reading_score":"Average Reading Score"})

In [24]:
renamed_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520

In [26]:
#Sorting the top five dataframes

top_five = renamed_df.sort_values(['% Overall Passing Rate'],ascending=False)
top_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [27]:
#Sorting the bottom five dataframes

bottom_five = renamed_df.sort_values(["% Overall Passing Rate"],ascending=True)
bottom_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [55]:

# Creating the Ninth grade data frame

ninth_grade_total = students_df.loc[students_df["grade"]=="9th"]
ninth_grade_avg = ninth_grade_total.groupby(["school_name"]).mean()
ninth_math_avg = ninth_grade_avg["math_score"]


# Creating the tenth grade data frame

tenth_grade_total = students_df.loc[students_df["grade"]=="10th"]
tenth_grade_avg = tenth_grade_total.groupby(["school_name"]).mean()
tenth_math_avg = tenth_grade_avg["math_score"]

# Creating the eleventh grade data frame

eleventh_grade_total = students_df.loc[students_df["grade"]=="11th"]
eleventh_grade_avg = eleventh_grade_total.groupby(["school_name"]).mean()
eleventh_math_avg = eleventh_grade_avg["math_score"]

# Creating the twelfth grade data frame

twelfth_grade_total = students_df.loc[students_df["grade"]=="12th"]
twelfth_grade_avg = twelfth_grade_total.groupby(["school_name"]).mean()
twelfth_math_avg = twelfth_grade_avg["math_score"]

In [56]:
# Merge data series from all grades

ninth_and_tenth = pd.merge(ninth_math_avg,tenth_math_avg,on="school_name")

ninth_tenth_renamed = ninth_and_tenth.rename(columns={"math_score_x":"9th","math_score_y":"10th"})
ninth_tenth_renamed

                             9th       10th
school_name
Bailey High School     77.083676  76.996772
Cabrera High School    83.094697  83.154506
Figueroa High School   76.403037  76.539974
Ford High School       77.361345  77.672316
Griffin High School    82.044010  84.229064
Hernandez High School  77.438495  77.337408
Holden High School     83.787402  83.429825
Huang High School      77.027251  75.908735
Johnson High School    77.187857  76.691117
Pena High School       83.625455  83.372000
Rodriguez High School  76.859966  76.612500
Shelton High School    83.420755  82.917411
Thomas High School     83.590022  83.087886
Wilson High School     83.085578  83.724422
Wright High School     83.264706  84.010288

In [57]:
add_in_eleventh = pd.merge(ninth_tenth_renamed,eleventh_math_avg,on="school_name")

All_grades_avg_math = pd.merge(add_in_eleventh,twelfth_math_avg,on="school_name")

All_grades_renamed = All_grades_avg_math.rename(columns={"math_score_x":"11th","math_score_y":"12th"})

All_grades_renamed

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [60]:
# Creating the Ninth grade data frame

ninth_grade_total_r = students_df.loc[students_df["grade"]=="9th"]
ninth_grade_avg_r = ninth_grade_total_r.groupby(["school_name"]).mean()
ninth_math_avg_r = ninth_grade_avg_r["reading_score"]

# Creating the tenth grade data frame

tenth_grade_total_r = students_df.loc[students_df["grade"]=="10th"]
tenth_grade_avg_r = tenth_grade_total_r.groupby(["school_name"]).mean()
tenth_math_avg_r = tenth_grade_avg_r["reading_score"]

# Creating the eleventh grade data frame

eleventh_grade_total_r = students_df.loc[students_df["grade"]=="11th"]
eleventh_grade_avg_r = eleventh_grade_total_r.groupby(["school_name"]).mean()
eleventh_math_avg_r = eleventh_grade_avg_r["reading_score"]

# Creating the twelfth grade data frame

twelfth_grade_total_r = students_df.loc[students_df["grade"]=="12th"]
twelfth_grade_avg_r = twelfth_grade_total_r.groupby(["school_name"]).mean()
twelfth_math_avg_r = twelfth_grade_avg_r["reading_score"]

# Merge 9th and 10th reading

ninth_and_tenth_r = pd.merge(ninth_math_avg_r,tenth_math_avg_r,on="school_name")

ninth_tenth_renamed_r = ninth_and_tenth_r.rename(columns={"reading_score_x":"9th","reading_score_y":"10th"})
ninth_tenth_renamed_r

# Merge 11th and 12th reading to existing

add_in_eleventh_r = pd.merge(ninth_tenth_renamed_r,eleventh_math_avg_r,on="school_name")

All_grades_avg_math_r = pd.merge(add_in_eleventh_r,twelfth_math_avg_r,on="school_name")

All_grades_renamed_r = All_grades_avg_math_r.rename(columns={"reading_score_x":"11th","reading_score_y":"12th"})

All_grades_renamed_r

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171